
<div class="container " >
  <div class="row">
    <div class="col-md-6">
      {{message}}
    </div>
    </div> 
  <div class="row">
  <div class=" col-md-4">
  <label for="txtfullname" >
    Full Name
  </label>
  </div>
  <div class="col-md-3">
  
  <input [(ngModel)]="user.userName" type="text"  name="Fullname" id="txtfullname" >
  
  
  
  
  </div>
  
  
  
  
  </div>
  <br>
  <div class="row">
    <div class=" col-md-4">
    <label for="txtpass" >
  Password
    </label>
    </div>  

    <div class="   col-md-3 ">
    
    <input  type="TEXT" id="txtpass" name="password"  [(ngModel)]='user.password' >
    
     </div>
    
    </div>
    
    
    
    

  <br>
  <div class="row " > 
  
  <div  class=" offset-md-4  col-md-3" >    
  
    <button   class="btn btn-danger" (click)="login()" > Login  </button>
  </div>
  <div  class=" col-md-3 " >
  
    <a   class="btn btn-success"   [routerLink]="['/register']"  > Register  </a>
  </div>
  </div>
  <br>
  <div class="row">
      <div  class=" col-md-5  offset-md-4 " >
          
            <a [routerLink]="['forgetpassword']"  class="btn btn-default" > Forget Pssword </a>
          </div>
  </div>
 
 

</div>