<div class="container" >
  <div class="row">
<div class="col-md-6">
    {{message}}
</div>

  </div>
 <div class="row">
<div class="col-md-2" >

<label for="email"> Your Email </label>

</div>
</div>
<div class="row" >



<div class="col-md-3" >

<input type="text" name="email" id="email" [(ngModel)]="email.email" >
</div>

</div>

<br>
<div class="row" >
  <div class=" offset-md-3 col-md-3" >

    <button class="btn btn-danger"   (click)="sendEmail()"> Send Email </button>
  </div>


</div>



 </div>







