 <div class="container" > 
   <br>
   <br>
<div> 
 
    <div >  
      <label >  email </label>
    </div>
    <br>
    <div>
      <input  [(ngModel)]="register.email" #email="ngModel" type="email" 
       placeholder="example@example.com" required
       pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
    </div> 
    <div *ngIf="email.invalid && (email.dirty || email.touched)"
    class="alert alert-danger">

    <div *ngIf="email.errors.pattern">
    
   email is invalid


</div>
    </div>
    <div> 
      <div >  
        <label > first name </label>
      </div>
      <br>
      <div>
        <input type="text"   required  name="name" #name="ngModel"  [(ngModel)]="register.firstName" >

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger">
    
      <div *ngIf="name.errors.required">
        Name is required.
      </div>

  
    </div>
      </div> 
      </div>
      <div> 
        <div >  
          <label > last name </label>
        </div>
 
      <br>
        <div>
          <input  name="lastname" #lastname="ngModel"  required [(ngModel)]="register.lastName" type="text" > 
        </div> 
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
        class="alert alert-danger">
    
      <div *ngIf="lastname.errors.required">
       last  Name is required.
      </div>
        
      </div>
        </div>
        
            <div >  
              <label > country </label>
            </div>
            <br>
            <div> 
              <!-- {{register.country}} -->
            <select   [(ngModel)]="register.country"  >
            <option   *ngFor="let countryname of getcountry " [ngValue]="countryname.name" >

              {{ countryname.name}}
             </option>
            </select> 
          </div>
         
                        <div> 
                          <div >  
                            <label > Password</label>
                          </div>
                          <br>
                          <div>
                            <input minlength="6" maxlength="100" 
                             [(ngModel)]="register.password" type="text"  name="password" #password="ngModel" required > 
                          </div> 
                          <div *ngIf="password.invalid && ( password.dirty || password.touched)"
                          class="alert alert-danger">
                            <div *ngIf="password.errors.required" >

                              password is required
                            </div>  
                            <div *ngIf="password.errors.minlength" >
                                password must least 6 charchter
                            </div>


                          </div>
                          </div>  
                        <div> 
                          <div >  
                            <label> confirmPassword</label>
                          </div>
                          <br>
                          <div>
                            <input  name="confirmpassword" required     #confirmpassword="ngModel" 
                              minlength="6" maxlength="100"   
                            [(ngModel)]="register.confirmPassword" type="text" appconfirmEqualValidator="password"   > 
               
                           <div *ngIf="confirmpassword.invalid && ( confirmpassword.dirty || confirmpassword.touched)"
                          class="alert alert-danger">
                          <div *ngIf="confirmpassword.hasError('notEqual') && !confirmpassword.hasError('required') 
                          ">Password Does Not Matched
                      </div>
              

                          password and confirmpassword not match 
                              </div>  
                            <div   *ngIf="register.confirmPassword != register.password && (register.password!='' || register.confirmPassword !='' ) " >
     
                              {{errormessage}}

                                </div>  
               
                             
                         

                           

                          </div>  
                          <br>
  
  <div>
    <button     (click)="RegisterNewUser()" > Register</button>
  </div>
<div> 
  {{ message}} 
 </div>
   <div *ngIf="isloading"> loading...</div>


  </div>
  